.embed iframe {
  width: 100%;
  height: 100%;
}

.richText p {
  @apply text-l;
  @apply leading-l;
  @apply tracking-tighter;
}

.richText > * + * {
  margin-top: 2em;
}

.richText > p + p {
  margin-top: 1em;
}
