.rightLine:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: -1px;
  right: -2rem;
  width: 1px;
  background: currentColor;
  @media screen and (max-width: 1023px) {
      right: -1rem;
  }
}
