/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: 'Right Grotesk';
  src: url('/fonts/RightGrotesk-Medium.woff2') format('woff2'),
    url('/fonts/RightGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Right Grotesk';
  src: url('/fonts/RightGrotesk-Bold.woff2') format('woff2'),
    url('/fonts/RightGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Right Grotesk';
  src: url('/fonts/RightGrotesk-Regular.woff2') format('woff2'),
    url('/fonts/RightGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Right Grotesk, sans-serif;
  font-size: calc((10 / 1440) * 100vw);
}

input.clear-autofill:-webkit-autofill,
input.clear-autofill:-webkit-autofill:hover,
input.clear-autofill:-webkit-autofill:focus,
input.clear-autofill:-webkit-autofill:active {
  -webkit-text-fill-color: #231f20;
  -webkit-box-shadow: 0 0 0px 100px #9aa198 inset !important;
  filter: none;
}

*:focus {
  outline: none !important;
}

@screen lg {
  :root {
    font-size: calc((10 / 320) * 100vw);
  }
}

body {
  @apply text-l;
  @apply leading-m;
}

@layer utilities {
  .word-spacing-none {
    word-spacing: none;
  }
  .word-spacing-1 {
    word-spacing: 0.55rem;
  }
}

.underline-hover{
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
   transition: all 300ms ease-in-out;
   &:hover{
       text-decoration-color: rgba(0, 0, 0, 1);
   }
}

